<html>
    <head>
        <%- include('header.ejs') %>
    </head>
    <body>
        <div class='loggedInContainer'>
            <div class='lIHeader'>
                <h1 class='userHomepage'>Hello, <%= user.first_name + ' ' + user.last_name %></h1>
                <div class='hpLogo'>
                    <a href='/'><img src='https://i.imgur.com/44xTMJR.png' /></a>
                    <a href='/logout'>Log Out</a>
                </div>
            </div>
            <div class='postDetailContainer'>
                <div class='pdImage'>
                    <img src='<%= post.image %>' />
                </div>
                <div class='postDetail'>
                    <h1><%= post.title %></h1>
                    <p><%= post.description %></p>
                    <p>Posted By: <%= post.username.username %></p>
                    <p>Posted Price: <%= post.price %></p>
                    <p>Category: <%= post.category.category %></p>
                    <p>To Inquire about this product, please send an email to: <%= post.username.email %></p>
                    <p class='phone_num'>Phone Contact: <%= post.username.phone_num %></p>
                    <% if(user.username === post.username.username) { %>
                    <a class='updateBtn' href='/update/<%= post._id %>'>Update</a>
                    <a class='updateBtn' href='/delete/<%= post._id %>'>Delete</a>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>